.hero{
  background-image: url('../../assets/herobg.png');
  height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.hero-content{
  margin-left: 90px;
}

.hero-title{
  margin-bottom: 10px;
  font-size: 58px;
  color: #595959;
}

.hero-title-highlight{
  color: #3CB018;
}

.hero-subtitle{
  margin-bottom: 40px;
  font-size: 18px;
  color: #333333;
}

.hero-button{
  margin-left: auto;
  font-size: 18px;
  color: #262626;
}